/*  Components  */
@import "components/header.css";
@import "components/bookContents.css";
@import "components/mainTitle.css";
@import "components/footer.css";
@import "components/slideBar.css";
@import "components/modal.css";

/*  Screens  */
@import "screens/mainBanner.css";
@import "screens/today.css";
@import "screens/weekly.css";
@import "screens/saying.css";
@import "screens/notice.css";

@import "reset.css";
@import "variables.css";

@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Nanum+Myeongjo:wght@400;700;800&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  color: var(--main-title-black);
  font-family: "Nanum Gothic", sans-serif;
  word-break: keep-all;
}

img {
  width: 16.8rem;
  height: 24rem;
  object-fit: fill;
  box-shadow: var(--box-shadow);
  border: 1px solid #4646461c;
}
section {
  width: 95%;
  max-width: 128rem;
  margin-right: auto;
  margin-left: auto;
  overflow-x: hidden;
}
input {
  font-family: "Nanum Gothic", sans-serif;
}
a {
  all: unset;
  color: inherit;
  cursor: pointer;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .today__column img {
    height: 18rem;
  }
  .today__column:first-child {
    display: block;
    align-items: flex-end;
  }
}
@media (max-width: 768px) {
  img {
    width: 12rem;
    height: 18rem;
  }
}
