@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&family=Nanum+Myeongjo:wght@400;700;800&display=swap');

* {
    box-sizing: border-box;
  }

  html,
  body {
      width: 100%;
      height: 100%;
      font-family: 'Nanum Myeongjo', serif;
  }

  body {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-top: 90px;
      
  }
  .header {
      display: flex;
      justify-content: space-between;
      position: fixed;
      top: 0;
      padding: 25px 20px 60px;
      width: 100%;
      height: 80px;
      background-color: slateblue;
      z-index: 2;
  }
  .header__title {
      font-size: 24px;
      font-weight: 800;
  }
  .header__icon:hover {
      color: white;
      transition: color .2s ease-in-out;
      cursor: pointer;
  }
  .search-bar {
      display: flex;
      justify-content: center;
  }
.search-bar input {
    padding: 15px 50px;
    border: none;
    border-radius: 40px;
    position: fixed;
    top: 65px;
    width: 70%;
    box-sizing: border-box;
    z-index: 2;
}
.search-bar i {
    position: fixed;
    top: 80px;
    right: 20%; 
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}
.main-screen {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    width: 100%;
}
h2 {
    font-size: 28px;
    font-weight: 800;
    padding: 20px 10%;
    margin-bottom: 20px;
    border-bottom: 1px solid slateblue;
}
h4 {
    font-size: 24px;
    font-weight: 800;
}
h6 {
    font-size: 16px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
}
.today-book,
.weekly-author,
.bestseller-novle {
    display: flex;
    align-items: center;
    margin: 20px 5% ;
}
.bestseller-novle {
    justify-content: space-between;
}


.today-book__column:last-child {
    font-family: 'Nanum Gothic', sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 10%;
    height: 253px;
}


.today-book__grade i {
    color: sandybrown;

}
.today-book__book-people {
    display: flex;

}
.today-book__book-people div {
    margin-right: 10px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}
.today-book__book-people i {
    cursor: pointer;
}
.today-book__btn button {
    padding: 10px 12px;
    border: none;
    color: white;
    cursor: pointer;
}

.today-book__btn__marking {
    margin-right:  40px;
    background-color: slateblue;
    border-radius: 50%;
}

.today-book__btn__reading {
    
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}
.bestseller-novle__content {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    font-family: 'Nanum Gothic', sans-serif;

}
.bestseller-novle__content h6 {
    margin-top: 15px;
}

.weekly-author__column:last-child {
    font-family: 'Nanum Gothic', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10%;
    height: 203px;

}
.weekly-author__name {
    margin-bottom: 30px;
}
.weekly-author__ex {
    line-height: 1.5;
}
.img {
      width: 130px;
      height: 200px;
      border: .5px solid rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      object-fit: cover;
  }
 .lg {
    width: 180px;
    height: 250px;

  }

.today-book__btn button:hover,
.today-book__column img:hover,
.weekly-author__column img:hover,
  .bestseller-novle__content:hover {
    transform: scale(1.2);
    transition: all 0.2s ease-in-out ;
   
}
.today-book__btn button:active {
    transform: scale(1);
    background-color: slateblue;
    transition: all 0.2s ease-in-out ;

}