.main-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.main-screen .mainBanner{
  width: 133rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-screen .mainBanner .main__slider{
  width: 118rem;
  height: 42rem;
}
.sliderBtn {
  background-color: rgba(0, 0, 0, 0);
  color: var(--main-sub-black);
  border: none;
  cursor: pointer;
  font-size: 3rem;
  z-index: 3;
}

.slider__item {
  margin: 3rem 0;
  position: absolute;
  top: 0;
  z-index: 0;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}
.slider__item img{
  height: 35.5rem;
  width: 118rem;
  object-fit: cover;
}
.showing {
  z-index: 1;
  opacity: 1;

}