.today-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.today__column {
  border: 1px solid #e1e1e1;
  border-radius: 1rem;
  padding: 2rem;
}
.today__column:first-child {
  display: flex;
  align-items: flex-end;
}
.today__columns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.today__columns .today__column {
  display: block;
  align-items: flex-start;
  width: 95%;
}

.today__column img {
  display: flex;
  margin-right: 2rem;
}
.today__column p {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  line-height: 1.2;
}
.today__column p:last-child {
  margin-bottom: 0;
}
.today__column i {
  margin: 0 0.3rem;
}
.today__column i,
.today__column .coment,
.today__column p {
  color: var(--main-sub-black);
}
.today__column .fa-check-square {
  margin-left: 0;
}
.today__column .coment {
  font-family: "Nanum Myeongjo", serif;
}
.today__column .user {
  display: flex;
  margin-bottom: 2rem;
}
.user .avatar,
.user-info {
  height: 5rem;
}
.user-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.user .avatar {
  margin-right: 1rem;
  width: 5rem;
  border-radius: 50%;
}
.user-coment {
  margin-top: 0;
}
.user-name {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .today-box {
    display: block;
  }
  .today__column:first-child {
    justify-content: center;
  }
  .today__column img {
    margin-right: 4rem;
  }
  .today__columns .today__column {
    width: 100%;
  }
  .today__column {
    margin-bottom: 1rem;
  }
  .today__column p {
    font-size: 1.2rem;
  }
}
@media (max-width: 375px) {
  .today__column img {
    margin-right: 2rem;
  }
}
