footer {
  display: flex;
  align-items: center;
}

.footer-line {
  background-color: slateblue;
  height: 1px;
  width: 100%;
  margin-top: 2.3rem;
}
.footer-columns {
  width: 100%;
  max-width: 128rem;
  margin-right: auto;
  margin-left: auto;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
}

.footer-column h5 {
  font-family: "Nanum Myeongjo", serif;
  font-size: 1.4rem;
  font-weight: 800;
  margin-bottom: 2.5rem;
}
.footer-column span,
.footer-column h6 {
  margin-right: 2.5rem;
  color: var(--main-sub-black);
  line-height: 1.2;
}
.footer-column h6 {
  margin-top: 2.5rem;
}
.footer-column:last-child {
  display: flex;
}
.footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  color: var(--main-sub-black);
  border: 1px solid var(--main-sub-black);
  border-radius: 50%;
  margin-left: 0.5rem;
  cursor: pointer;
}
@media (max-width: 768px) {
  .footer-column h5 {
    font-size: 1.2rem;
  }
  .footer-columns {
    padding: 1.5rem;
  }
  .footer-column span {
    margin-right: 0.5rem;
  }
}
